<div class="col-md-12">
  <h1>投稿記事編集フォーム</h1>
  <%= form_for @post, url: { action: :update } do |f| %>
  <p>タイトル：<br>
    <%= f.text_field :title %>
  </p>
  <div class="form-group">
     <%= f.label "カテゴリ" %>
     <%= f.collection_select(:category_id, Category.all, :id, :title, class: "form-control") %>
   </div>
   <div class="form-group">
     <%= f.label "本文" %>
     <%= f.text_area :body, class: "form-control" %>
   </div>
  <%= f.submit "編集する" %>
  <%= link_to '戻る', posts_path %>
  <% end %>
</div>
